<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>" AdiCar " wypożyczalnia samochodów</title>
    <meta name=" description" content="Wypożyczalnia samochgodów osobowych"/>
    <meta name=" keywords" content="kombi,hatchbak,sedan,pickup"/>
    <meta http-equiv=" X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link static=" stylesheet " href=" css/cars.css " type= " text/css "/>

</head>

<body>
<h1>  <br/>Wypożyczalnia samochodów "AdiCar"!</h1>
<br /><br/>

<img width="1600"height="900" src="../img/cars.jpg"/>

</body>

</html>